html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{
	padding:0; margin:0;	
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Serif;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}
input{
    outline: none;
}
em,i{ font-style:normal;}
